$color1: #30211e;
$color2:#99cc33;
$color3:#256136;
$color4: #9c9b9b;
$color5: #fff;


.intro{
    padding:40px;
    margin: auto;
}
.logo_uitleg{
    padding:80px;
    margin:auto;
    img{
        width: 25%;
        justify-content: center;
        float: right;
    }
}

.card {
    margin-bottom: 20px;
}
.color_card{
    margin: auto;
    height:250px;
    width: 100%;
}
.card-body{
    max-height:500px;
    min-height: 400px;
}
.link_container{
    min-height:150px;
    object-fit: cover;
    width:100%;
}

.link_container:hover {
    background-color: $color2;
}

.link_txt{
    min-height:150;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    
}